@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  font-weight: 400;
  src: url(./../../public/fonts/Epilogue-Regular.ttf);
}
@font-face {
  font-family: "Epilogue";
  font-weight: 500;
  src: url(./../../public/fonts/Epilogue-Medium.ttf);
}
@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  src: url(./../../public/fonts/Epilogue-Bold.ttf);
}
